* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

.review-core {
    text-align: center;
}

nav {
    background-color: lightsalmon;
}

.login-link {
    text-align: right;
}

.username-display {
    text-align: left;
}

header {
    background-color:lightblue;
}


.description {
    background-color: lightgreen;
    text-align: center;
    font-size: large;
}

.review-box {
    background-color: lightgrey;
    text-align: center;
}
.review {
    background-color: rosybrown;
    margin: 20px;
}

.review h3 {
    text-align: center;
}

footer {
    background-color: lightblue;
    text-align: center;
}

/* // Log in // */

.login-form {
    background-color: lightgrey;
}

.signup-form {
    background-color: lightgreen;
}