* {
    box-sizing: border-box;
}

html {
    background-color: lightgrey;
}

body {
    background-color: lightgray;
}

.review-core {
    text-align: center;
}

nav {
    background-color: salmon;
    border-bottom: 5px;
    border-style: ridge;
    border-color: black;
}

.login-link {
    text-align: right;
}

.username-display {
    text-align: left;
}

header {
    background-color:slategrey;
}


.description {
    background-color: lightgrey;
    text-align: center;
    font-size: large;
}

.review-box {
    background-color: lightgrey;
    text-align: center;
}
.review {
    background-color: rosybrown;
    margin: 20px;
}

.review h3 {
    text-align: center;
}

footer {
    background-color: slategrey;
    text-align: center;
}

/* // Log in // */

.login-form {
    background-color: lightgrey;
    border-style: ridge;
    border-color: black;
}

.signup-form {
    background-color: white;
    border-style: ridge;
    border-color: black;
}



/* // Review Page // */

.review-game {
    text-align: center;
}
.review-user {
    text-align: center;
}
.review-head {
    background-color: salmon;
}
.review-rating {
    background-color: lightgrey;
}
.review-body {
    background-color: lightgrey;
}
.review-link {
    background-color: lightgrey;
}

.review_container{
    display: flex;
    flex-flow: row nowrap;
}

.review_form{ 
}

.game_list{
    list-style-type: none;
}

.game_list a{
    display: block;
    z-index: 10;
}

.game_list_container{
    overflow: scroll;
    height: 500px;
    width: 500px;
}

.game_list_card{
    list-style-type: none;
}

.unclickable {
    pointer-events: none;
}

.game_list_card img{

}
