* {
    box-sizing: border-box;
}

html {
    background-color: lightgrey;
}

body {
    background-color: lightgrey;
}

/* // Header Elements // */

header {
    background-color:slategrey;
    border-style: ridge;
    border-color: black;
    border-bottom: none;
}

.review-core {
    text-align: center;
}

/* // Navbar Elements // */

nav {
    background-color: salmon;
    border-style: ridge;
    border-color: black;
}

nav ul {
    list-style-type: none;
}

nav li {
    text-align: right;
    display: inline-block;
    margin-left: 20px;
    margin-right: 10px;
}

nav a {
    color: black;
}

nav a:hover {
    color: darkslategrey
}

.nav-bar {
    text-align: right;
}

.username-display {
    text-align: left;
}

/* // Homepage Elements // */

.description {
    background-color: lightgrey;
    text-align: center;
    font-size: large;
}

.review-box {
    background-color: lightgrey;
    text-align: center;
}
.review {
    background-color: White;
    margin: 20px;
    border-style: ridge;
    border-color: black;
    padding: 5px;
}

.review:hover {
    border-color: red;
}

.review h3 {
    text-align: center;
}

footer {
    background-color: slategrey;
    text-align: center;
}

.row a{
    display: block;
}

/* // Log in // */

.row{
    background-color: lightgrey;
}

.login-form {
    background-color: white;
    border-style: ridge;
    border-color: black;
    border-top: none;
}

.signup-form {
    background-color: white;
    border-style: ridge;
    border-color: black;
    border-top: none;
}


/* // Review Page // */

.review-game {
    text-align: center;
}
.review-border {
    border-style: ridge;
    border-color: black;
    border-top: none;
}
#review-user {
    text-align: center;
}
#review-header {
    text-align: center;
}
.review-rating {
    background-color: lightgrey;
}
.review-body {
    background-color: lightgrey;
}
.review-link {
    background-color: lightgrey;
}

.review_container{
    background-color: lightgrey;
}

.game_list{
    list-style-type: none;
}

.game_list a{
    display: block;
    z-index: 10;
}

.game_list_container{
    background-color: lightgrey;
    overflow: scroll;
    height: 400px;
    width: 500px;
    float: top;
}

.comments-container {
    border-style: ridge;
    border-color: black;
}


.game_list_card{
    list-style-type: none;
}

.unclickable {
    pointer-events: none;
}

@media screen and (max-width: 576px) {
    header img{
        max-width: 75%;
        height: auto;
    }
  }
